@page "/author/create"

@inject IAuthorService authorService
@inject NavigationManager navManager

@attribute [Authorize(Roles = UserRoles.Administrator)]

<h4>Create Author</h4>

<div class="card p-4 mt-5 col-4">
    <EditForm Model="Author" OnValidSubmit="OnCreateAuthor">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <label class="fw-bold">First Name</label>
            <InputText class="form-control mb-3" @bind-Value="Author.FirstName" />
        </div>

        <div>
            <label class="fw-bold">Last Name</label>
            <InputText class="form-control mb-3" @bind-Value="Author.LastName" />
        </div>

        <div>
            <label class="fw-bold">Bio</label>
            <InputText class="form-control mb-3" @bind-Value="Author.Bio" />
        </div>
        <br />

        <button class="btn btn-primary" type="submit">Create Author</button>
    </EditForm>
</div>


@code {
    AuthorCreateDto Author = new();
    Response<int> response = new() { Success = true };

    private async Task OnCreateAuthor()
    {
        response = await authorService.CreateAuthorAsync(Author);
        if (response.Success == true)
            navManager.NavigateTo("/authors");
    }
}